<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iMask Login</title>
</head>
<center><body>
    <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>
    <script> function initializeLiff(myLiffId) {
        liff.init({
          liffId: myLiffId
        })
        .then(() => {
          // start to use LIFF's api
          initializeApp();
        })
        .catch((err) => {
        });
      }

      initializeLiff('<LIFF ID>');</script>
    
<h1>登入成功</h1>
</body></center>
</html>
