body {
background-image: url("https://line-0209-22.herokuapp.com/static/背景.png");;
background-size: 100%;
background-repeat: no-repeat;
}
#login_frame {
width: 400px;
height: 260px;
padding: 13px;
position: absolute;
left: 50%;
top: 50%;
margin-left: -200px;
margin-top: -200px;
background-color: rgba(196, 207, 207, 0.5);
border-radius: 10px;
text-align: center;
}


